{% extends "main/template.html.twig" %}
{% block title %}
    Liste des Commandes
{% endblock title %}

{% block contenu %}
<div class="row">
    <div class="col-lg-12">
        <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
            <div>
                <h4 class="mb-3">Liste Des Commandes</h4>
                <p class="mb-0"></p>
            </div>
            <a href="{{path ('create_commande')}}" class="btn btn-primary add-list"><i class="ri-add-line"
                    style="color: #ffffff;"></i>Ajouter</a>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="table-responsive rounded mb-3">
            <table class="data-table table mb-0 tbl-server-info">
                <thead class="bg-white text-uppercase">
                    <tr class="ligth ligth-data">

                        
                        <th>Référence No</th>
                      
                        <th>
                            Tva(%)
                        </th>
                        {# <th>Total (XOF)</th> #}
                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="ligth-body">
                    {% for c in Commandes %}
                    <tr>
               
                        
                        <td>{{c.NumeroCommande}}</td>
                        <td>{{c.tva}}</td>
                        {# <td>{{c.TotalTTC}}</td> #}
                       
                        
                        <td>
                            <div class="d-flex align-items-center list-action">
                                <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="View" href="{{path('detail_commande',{ 'id':c.id})}}">
                                    <i class="ri-eye-line mr-0"></i>
                                </a>
                                {# {{ include ("commande_achat/delete.html.twig")}} #}
                            </div>
                        </td>
                        
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">Aucun enregistrement</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenu %}