{% extends "main/template.html.twig" %}

{% block contenu %}
    
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Categorie : {{categorie.libelle}}</h4>
                </div>
            </div>
            <div class="card-body">
               

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ categorie.libelle }}</td>
                        </tr>
                        <tr>
                            <th>articles</th>
                            <td>
                            {% for row in article %}
                                {{ row.nomArticle}}
                            {% endfor %}
                            </td>
                        </tr>

                    </tbody>
                </table>
            
                <a href="{{ path('liste_categorie') }}" class="btn btn-success mt-2">Liste</a>
            
                <a href="{{ path('update_categorie', {'id': categorie.id}) }}" class="btn btn-primary mt-2">Modifier</a>
            
                {{ include('categorie/delete.html.twig') }}
            </div>
        </div>
    </div>
</div>

{% endblock contenu %}