{% extends "main/template.html.twig" %}

{% block contenu %}
    
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Article : {{article.nomArticle}}</h4>
                </div>
            </div>
            <div class="card-body">
               

                <table class="table">
                    <tbody>
                       
                        <tr>
                            <th>Nom</th>
                            <td>{{ article.nomArticle }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{ article.prixArticle }}</td>
                        </tr>
             
                        <tr>
                            <th>Quantité en stock</th>
                            <td>{{ article.quantiteArticle }}</td>
                        </tr>

                         <tr>
                            <th>Categorie</th>
                            <td>{{ article.categorie }}</td>
                        </tr> 
                        <tr>
                            <th>Fournisseur(s)</th>
                            <td>{% for row in fournisseurs %}
                                <a href="{{path ('detail_fournisseur',{'id':row.id})}}">{{row.nomFournisseur}}</a>
                                {# {% else %}
                                Aucun Fournisseur retenu pour cet article #}
                            {% endfor %}</td>
                        </tr> 

                        <tr>
                            <th>Description</th>
                            <td>{{ article.description}}</td>
                        </tr>
                       
                        <img src="{{vich_uploader_asset(article,'imageFile')}}" alt="" style="width:150px">
                    </tbody>
                </table>
            
                <a href="{{ path('liste_article') }}"class="btn btn-success mt-2">Liste</a>
            
                <a href="{{ path('update_article', {'id': article.id})}}"class="btn btn-primary mt-2">Modifier</a>
            
                
                    <form method="post" action="{{ path('delete_article', {'id': article.id}) }}" onsubmit="return confirm('Etes-Vous sûr de supprimer ce élément ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                        <button class="btn btn-warning mt-2">Supprimer</button>
                    </form> 
            
            </div>
        </div>
    </div>
</div>

{% endblock contenu %}